<div class="form-group py-2 <%= typeof view !== undefined && view === 'editing' ? 'row' : '' %>">
  <label data-type="email" for="<%= name %>" class="<%= typeof view !== undefined && view === 'editing' ? 'col-sm-3' : '' %>"><%= label %></label>
  <% if(typeof view !== undefined && view === 'editing') { %><div class="col-sm-9"><% } %>
  <input type="email" class="form-control" name="<%= name %>" id="<%= name %>" aria-describedby="email-<%= name %>"
    placeholder="<%= placeholder %>" pattern="<%= pattern || '.*' %>" value="<%= value %>">
  <% if (typeof help != 'undefined') { %>
    <small id="email-help" class="form-text text-muted"><%= help %></small>
  <% } %>
  <% if(typeof view !== undefined && view === 'editing') { %></div><% } %>
</div>
