<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% set base = '.' %}
    {% set title = 'Gramex Forms' %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ base }}/style.scss">
  </head>

  <body>
    {% include template-navbar.html %}
    {% import os %}
    {% from form_builder import FOLDER %}
    <div class="container">
      <div class="gallery-grid py-5">
        <script type="text/html" class="forms">
          <% _.each(forms, function(_form) { %>
            <% let _md = JSON.parse(_form.metadata)%>
            <div class="card overflow-hidden">
              <a href="form/<%= _form.id %>">
                <img class="thumbnail mx-auto img-fluid" src="<%= _form.thumbnail || 'https://picsum.photos/160' %>">
              </a>
              <div class="card-body border-top">
                <div class="font-weight-bold text-dark"><%= _md.name %></div>
                <!--
                  - TODO: Add dropdown icon for actions - Delete, Rename, Open in New Tab
                -->
              </div><!-- .card-body -->
            </div><!-- .card -->
          <% }) %>
        </script>
      </div><!-- .card-deck -->
    </div><!-- .container-fluid -->

    <script src="{{ base }}/ui/jquery/dist/jquery.min.js"></script>
    <script src="{{ base }}/ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ base }}/ui/lodash/lodash.min.js"></script>
    <script src="{{ base }}/ui/g1/dist/g1.min.js"></script>
    <script>
      /* env: browser, jquery */
      fetch('publish')
        .then(response => response.json())
        .then(function(data) {
          $('.forms').template({forms: data})
        })
      $('body').search()
      $('body').urlfilter()
      $(window).on('#?field', function(e, field) {
        $('.card').addClass('d-none')
        $("a:contains(" + field + ")").closest('.card').removeClass('d-none')
      }).urlchange()
    </script>
  </body>
</html>
