# .editorconfig maintains consistent coding styles between different editors.
# Get plugins at http://editorconfig.org/
#   - Sublime text: https://github.com/sindresorhus/editorconfig-sublime
#   - Notepad++: https://github.com/editorconfig/editorconfig-notepad-plus-plus

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

# Markdown files require trailing whitespace
# http://robandlauren.com/2013/11/21/configuring-sublime-text-markdown/
[*.md]
trim_trailing_whitespace = false
