# Documentation on starting services:
#   http://doc.gitlab.com/ce/ci/services/postgres.html
#   http://doc.gitlab.com/ce/ci/services/mysql.html
services:
  - postgres:latest
  - mysql:latest
  - redis:latest

variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  MYSQL_DATABASE: test_datahandler
  MYSQL_USER: root
  MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  # Define variables for nosetests pointing to the database servers
  # See http://doc.gitlab.com/ee/ci/docker/using_docker_images.html
  POSTGRES_SERVER: postgres
  MYSQL_SERVER: mysql
  REDIS_SERVER: redis

# Deploy the master / release branches on gramener.com
deploy-gramener:
  only: [master, release]
  script:
    - 'ssh ubuntu@gramener.com "
        cd /mnt/gramener/apps/gramex;
        git checkout -- .;
        git pull;
        export PATH=/mnt/gramener/anaconda3/bin/:$PATH;
        pip install -e .;
        gramex setup --all;
        pip install gramexenterprise;
        gramex license accept;
        rm -rf /mnt/gramener/apps/v1/gramex-update;
        cp -R /mnt/gramener/apps/gramex/gramex/apps/update /mnt/gramener/apps/v1/gramex-update;
      "'

# Deploy the release branch additionally on UAT server
deploy-uat:
  only: [release]
  script:
    - 'ssh ubuntu@uat.gramener.com "
        cd ~/gramex;
        git checkout -- .;
        git pull;
        export PATH=/home/ubuntu/anaconda3/bin/:$PATH;
        pip install -e .;
        gramex setup --all;
        pip install gramexenterprise;
        gramex license accept;
      "'


# On Gitlab Pipeline Schedules at https://code.gramener.com/cto/gramex/-/pipeline_schedules
# create a new INACTIVE schedule that runs on the "release" branch.
# When releasing a new branch, run the schedule. It'll build the releases for download.
build-pypi:
  only: [release, /^build-.*/]
  script:
    - bash pkg/build_pypi.sh
  artifacts:
    paths:
      - "dist/gramex*.tar.gz"

build-conda:
  only: [release, /^build-.*/]
  script:
    - bash pkg/build_conda.sh
  artifacts:
    paths:
      - "pkg/gramex*.tar.bz2"
