# Include package specific files
include gramex/gramex.yaml
include gramex/release.json
recursive-include gramex/lib *

# Include requirement dependencies
include requirements.txt
include requirements-dev.txt

# Include core docs
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

# Include test cases
recursive-include tests *

# Include documentation
recursive-include docs *.rst conf.py Makefile make.bat

# Exclude Python build files
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]

# This vega-lite file has a $ in the filename. Exclude it explicitly
recursive-exclude * *-Wildlife__Size-O.json
