# Include package specific files
include gramex/gramex.yaml
include gramex/deploy.yaml
include gramex/apps.yaml
include gramex/release.json
include gramex/handlers/filehandler.template.html
include gramex/handlers/auth.template.html
include gramex/handlers/forgot.template.html

# Include Gramex apps
recursive-include gramex/apps *

# Include requirement dependencies
include requirements.txt

# Include core docs
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

# Include test cases
recursive-include tests *

# Include documentation
recursive-include docs *.rst conf.py Makefile make.bat

# Exclude Python build files and binary databases
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.sqlite3
