# Libraries required for Gramex
# -----------------------------

# For setup
setuptools >= 16.0        # 16.0 has good error message support

# General utilities
six                       # Python 3 compatibility
pathlib                   # Manipulate paths. Part of Python 3.3+
orderedattrdict >= 1.4.2  # OrderedDict with attr access for configs
watchdog >= 0.8           # Monitor file changes
tornado >= 4.3            # Web server
PyYAML >= 3.10            # Parse YAML files for config

# Handler / service specific
crontab >= 0.20     # services.schedule to parse crontab entries
xmljson >= 0.1.5    # transforms.badgerfish to convert objects to/from XML

# Optional dependencies (batteries included principle)
markdown            # For Markdown transfroms
PyMySQL             # For MySQL connections
