.zindex-1 {
  z-index: 1 !important;
}

.resize-none {
  resize: none !important;
}

.cursor-default {
  cursor: default !important;
}

.line-height-0 {
  line-height: 0rem !important;
}

.line-height-12 {
  line-height: 1.2rem !important;
}

.d-inline-nextSibling + div {
  display: inline-block !important;
}

.w-10 {
  width: 10% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.r-50 {
  right: 50% !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* .pr-05, .px-05 {
  padding-right: .25rem !important;
}

.pl-05, .px-05 {
  padding-left: .25rem !important;
} */

.pt-025, .px-025 {
  padding-top: .125rem !important;
}
/*
.pb-05, .px-05 {
  padding-bottom: .25rem !important;
} */

.h-2 {
  height: 0.75rem !important;
}

.h-3 {
  height: 1.25rem !important;
}
.h-6{
  height:8%!important ;
}
.h-94{
height:91%!important ;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-blue-light-hover:hover {
  background-color:#000000 !important;
}
.bg-blue-light-hover:hover .color-gray-dark{
  color: #fff !important;
}


.active > .btn {
  background-color: #000000 !important;
}

.nav-tabs .horizontal-tab.nav-link.active, .nav-tabs .nav-item.show .horizontal-tab.nav-link {
  background-color: #c6d2e1 !important;
  color: #00894A !important;
}

.nav-tabs .horizontal-tab.nav-link.active div, .nav-tabs .nav-item.show .horizontal-tab.nav-link div {
  background-color: #c6d2e1 !important;
  color: #00894A !important;
}

.active > .btn.remove-bg {
  background-color: transparent !important;
  border: 1px solid #dee2e6 !important;
}

.upload:focus+label, .upload:hover+label, .upload:active+label {
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.color-gray-dark {
  color: #D1EFDD !important;
}

.color-text {
  color: #00BC66 !important;
}

.color-blue-on-hover:hover {
  color: #ffffff !important;
}

.active > .btn .color-gray-dark{
  color: #ffffff !important;
}

/* .color-blue-on-hover:hover {
  color: #00894A !important;
} */

.text-decoration-none {
  text-decoration: none;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  border: solid 1px darkgray;
  margin: 0;
}

input[type="color"] {
    -webkit-appearance: none;
    padding: 0 !important;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0 !important;
}

textarea#upload-data-text {
  height: 240px;
  width: 100%;
}

/* /////////////////// Scroll Bar ////////////////////// */
/* width */

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height:4px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #d3deec;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #9d9d9d !important;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c6d2e1;
}

.scrollbar::-moz-scrollbar{
  width: 6px;
}

/* Track */
.scrollbar::-moz-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-moz-scrollbar-thum {
  background: #cacdcf;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-moz-scrollbar-thumb:hover {
  background: #b5b6b7;
}


/* color brewer swatches */

.sel_palette {
  cursor: pointer;
}

.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 8px;
  height: 12px;
}

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
  min-width: 0rem;
  background-color: transparent;
  background-clip: padding-box;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
}


/* Rangeinput slider [type="range"] */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px !important;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  background: #00894A;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  background: #00894A;
  cursor: pointer;
}
