variables:
    ROOT: {default: subdir}
    THIS: "subdir"
    SUBDIR_DEFAULT: {default: subdir}
    YAMLURL_VAR: $YAMLURL
    FUNCTION:
        function: six.text_type
        args: ['subdir']
    DEFAULT_FUNCTION:
        default:
            function: six.text_type
            args: ['subdir']
    FUNCTION_VAR:
        function: gramex.config.variables['ROOT'] + gramex.config.variables['THIS']
    DERIVED: $THIS/derived

subdir_DOT: "{.}"
subdir_YAMLPATH: $YAMLPATH
subdir_YAMLURL: $YAMLURL
subdir_YAMLURL_EXPECTED: test_config/dir
subdir_HOME: $HOME
subdir_NONEXISTENT: $NONEXISTENT
subdir_ROOT: $ROOT
subdir_THIS: $THIS
subdir_DEFAULT: $SUBDIR_DEFAULT
subdir_FUNCTION: $FUNCTION
subdir_DEFAULT_FUNCTION: $DEFAULT_FUNCTION
subdir_FUNCTION_VAR: $FUNCTION_VAR
subdir_DERIVED: $DERIVED
subdir_YAMLURL_VAR: $YAMLURL_VAR
subdir_YAMLURL_VAR_EXPECTED: test_config/dir
subdir_GRAMEXPATH: $GRAMEXPATH
subdir_GRAMEXAPPS: $GRAMEXAPPS
subdir_GRAMEXHOST: $GRAMEXHOST

path: $YAMLPATH     # import must not over-ride path in config.template.base.yaml
subpath: $YAMLPATH  # ... but specify defaults
