<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session expiry</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="container">

  <nav class="py-4">
    <a href=".">&laquo; Back to Auth</a>
  </nav>

  <section>
    {% if error %}
      <div class="alert alert-danger">
        <h2>Error logging in</h2>
        <p><strong>code</strong> {{ error['code'] }}</p>
        <p><strong>error</strong> {{ error['error'] }}</p>
      </div>
    {% end %}

    {% import time %}
    {% import json %}
    {% import gramex %}
    {% if handler.current_user %}
      <p>Your are logged in as:</p>
      <div class="codehilite"><pre>{{ json.dumps(handler.current_user, indent=4) }}</pre></div>
    {% else %}
      <p>You are not logged in.</p>
    {% end %}

    <p>Your session expires in {{ '{:,.0f}'.format(handler.session['_t'] - time.time()) }} seconds</p>

    <hr>
    <h1>Remember me</h1>

    <p>This example shows how you can use a checkbox to implement the "Remember
    me" scenario. You can log in below as <code>alpha</code> with password
    <code>alpha</code> or as <code>beta</code> with the password
    <code>beta</code>. The session will expire based on the duration you pick
    below.</p>

    <p>By default, the user is logged in for 1 day. When the user checks the
    "Remember me" box, they are logged in for 1 month.</p>

    <form method="POST">
      <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
      <div class="form-group">
        <label for="user">Username</label>
        <input name="user" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input name="remember" type="checkbox" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Remember me for 1 month</label>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    <hr>
    <h1>Custom Expiry</h1>

    <p>You can log in below as <code>alpha</code> with password
      <code>alpha</code> or as <code>beta</code> with the password
      <code>beta</code>. The session will expire based on the duration you pick
      below.</p>

    <form method="POST">
      <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
      <div class="form-group">
        <label for="user">Username</label>
        <input name="user" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="remember">Remember me for</label>
        <select name="remember" class="form-control">
          <option value="sec">10 seconds</option>
          <option value="min">1 minute</option>
          <option value="hour">1 hour</option>
          <option value="day">1 day</option>
          <option value="week">1 week</option>
          <option value="month">1 month</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </section>

</body>
</html>
