nose                  # Base testing package
coverage              # For code coverage in .travis.yml

python-dateutil       # For schedule testing
testfixtures          # For logcapture
sphinx_rtd_theme      # For documentation
websocket-client      # For websocket testing
pdfminer.six          # For CaptureHandler testing
cssselect             # For HTML testing (test_admin.py)
openpyxl              # For gramex.cache.open(..., 'xlsx')
psycopg2 >= 2.7.1     # For PostgreSQL connections
