nose                  # Base testing package
coverage              # For code coverage in .travis.yml

cssselect             # For HTML testing (test_admin.py)
# In .travis.yml, we specify ElasticSearch 7.x. So use same version here
elasticsearch>=7.0.0,<8.0.0   # OPT: Test gramexlog: features. Use
openpyxl              # For gramex.cache.open(..., 'xlsx')
pdfminer.six          # For CaptureHandler testing
psycopg2 >= 2.7.1     # For PostgreSQL connections
python-dateutil       # For schedule testing
pymongo               # For MongoDB tests
sphinx_rtd_theme      # For documentation
testfixtures          # For logcapture
websocket-client      # For websocket testing
