variables:
    ROOT: {default: child}
    THIS: "child"
    CHILD_DEFAULT: {default: child}
    YAMLURL_VAR: $YAMLURL
    FUNCTION:
        function: six.text_type
        args: ['child']
    DEFAULT_FUNCTION:
        default:
            function: six.text_type
            args: ['child']
    FUNCTION_VAR:
        function: gramex.config.variables['ROOT'] + gramex.config.variables['THIS']
    DERIVED: $THIS/derived

child_DOT: "{.}"
child_YAMLPATH: $YAMLPATH
child_YAMLURL: $YAMLURL
child_YAMLURL_EXPECTED: test_config
child_HOME: $HOME
child_NONEXISTENT: $NONEXISTENT
child_ROOT: $ROOT
child_THIS: $THIS
child_DEFAULT: $CHILD_DEFAULT
child_FUNCTION: $FUNCTION
child_DEFAULT_FUNCTION: $DEFAULT_FUNCTION
child_FUNCTION_VAR: $FUNCTION_VAR
child_DERIVED: $DERIVED
child_URLROOT: $URLROOT
child_YAMLURL_VAR: $YAMLURL_VAR
child_YAMLURL_VAR_EXPECTED: test_config
child_GRAMEXPATH: $GRAMEXPATH
child_GRAMEXAPPS: $GRAMEXAPPS
child_GRAMEXHOST: $GRAMEXHOST
