<div class="w-100">
  <div class="w-100 bg-dark p-3 zindex-1 text-white mr-2 shadow rounded h-80vh">
      <div class="row mx-0 h-100">
        <div class="scrollbar scrollbar-auto col-3 px-0 h-100 pt-2">
          <h6 class="color-gray-dark h-4 pb-2 mb-2 px-2">
            Components
          </h6>
          <ul class="nav nav-tabs d-block pr-0 border-0 pb-4 h-94">
            <%= _.template(templates['layer_list'])({ templates: templates, layer_list: data['layer_list'] }) %>
          </ul>
        </div>

        <div class="col-9 px-0 h-100">
          <div class="tab-content h-100 border-left-black-5 pt-2">
            <% data['layer_list'].map(function(layer, index) { %>
              <div class="tab-pane h-100 <%= (index === 0) ? 'active show': '' %>" id="<%= slug(layer.name) %>-props">
                <!-- two tabs - one for Style, other for data -->
                <div class="row mx-0 justify-content-between border border-color1 border-top-0 border-left-0 border-right-0 ">
                  <div class="col-7 px-2">
                      <h6 title="<%= layer.name %>" class="mb-0 text-ellipsis text-white">
                        <%= layer.name[0].toUpperCase() + layer.name.slice(1) %>
                      </h6>
                      <!-- <i class="col-2 p-0 fa fa-pencil-square-o cursor-pointer" aria-hidden="true"></i> -->
                  </div>
                  <div class="col-5 flex-row-reverse pr-0">
                    <div class="undo color-gray-dark bg-dark bg-blue-light-hover sm2 cursor-pointer font-weight-bold d-inline py-1 px-2">
                      <i class="fa fa-undo">
                      </i>
                      <span>Undo</span>
                    </div>
                    <div class="redo color-gray-dark bg-dark bg-blue-light-hover sm2 cursor-pointer font-weight-bold d-inline py-1 px-2">
                      <i class="fa fa-repeat">
                      </i>
                      <span>Redo</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="divider border-dark m-0 pb-2"></div> -->
                <div class="row mx-0">
                  <div class="col-5 px-0 prop-list table-responsive scrollbar h-69vh">
                    <ul class="nav nav-tabs border-0 d-block pb-4 pr-1 h-100">
                      <%= _.template(templates['property_list'])({ templates: templates, property_list: data['property_list'][layer.name], prop_groupings: data['prop_groupings']}) %>
                    </ul>
                  </div>
                  <div class="col-7 px-2 prop-detail">
                    <div class="tab-content h-100">
                      <%= _.template(templates['property_detail'])({ templates: templates, property_list: data['property_list'][layer.name]}) %>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
