<div class="col-3 align-self-center px-0">
    <ul class="nav nav-tabs border-0 justify-content-end">
      <li class="nav-item pr-2">
        <a href="#<%= layer.name %>-props" data-toggle="tab" class="horizontal-tab active show">
          <button type="button" class="btn btn-sm bg-blue-light-hover bg-transparent remove-bg shadow-none text-left">
            <div class="color-gray-dark color-blue-on-hover font-weight-bold sm1" title="Styles">
              Styles
            </div>
          </button>
        </a>
      </li>
      <li class="nav-item pr-2">
        <a href="#<%= layer.name %>-props-data" data-toggle="tab" class="horizontal-tab">
          <button type="button" class="btn btn-sm bg-blue-light-hover bg-transparent remove-bg shadow-none text-left">
            <div class="color-gray-dark color-blue-on-hover font-weight-bold sm1" title="DataSets">
              DataSets
            </div>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a href="#<%= layer.name %>-props-scale-range" data-toggle="tab" class="horizontal-tab">
          <button type="button" class="btn btn-sm bg-blue-light-hover bg-transparent remove-bg shadow-none text-left">
            <div class="color-gray-dark color-blue-on-hover font-weight-bold sm1" title="RangeMaps">
              RangeMaps
            </div>
          </button>
        </a>
      </li>
    </ul>
  </div>
