
<div class="d-flex flex-row-reverse">
  <div class="width-550 height-370 bg-dark position-absolute p-2 zindex-1 text-white mr-2 shadow rounded">
    <div class="row mx-0 h-100">
      <div class="w-100">
        <div class="d-flex">
          <p class="col-10 text-white h5 py-2">Select based on data type of column</p>
          <div class="col-2">
            <button type="button" class="btn btn-md btn-secondary datamapper-next">Next</button>
          </div>
        </div>
        <div class="row mx-0 h-100 justify-content-center">
          <div id="data-mapper-template">
            <table class="table table-responsive h-75 scrollbar scrollbar-auto mapper-table text-white pt-4">
              <thead>
                <tr>
                  <th scope="col">Current Headers</th>
                  <th scope="col">Your Data Headers</th>
                </tr>
              </thead>
              <tbody>
                <% _.forIn(data_mapper, function(value, key) { %>
                  <tr>
                    <td>
                      <%- value %>
                    </td>
                    <td>
                      <% var id = "map-" + slug(key) %>
                      <%= _.template(templates['select'])({ data: { id: id, label: undefined, options: fh_col_names}}) %>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
