

<div class="d-flex flex-row-reverse w-100 pl-4" id="stages">
  <%= _.template(templates['stages'])({ templates: templates, stages: data['stages']}) %>
</div>

<div class="tab-content">

  <div class="tab-pane active show mt-4" id="data_loader">
    <%= _.template(templates['data_loader'])({ templates: templates, data: data}) %>
  </div>

  <div class="tab-pane mt-4" id="data_mapper">
    <h3>Data Mapper</h3>
  </div>

  <div class="tab-pane" id="customize_chart">
    <%= _.template(templates['customize_chart'])({ templates: templates, data: data}) %>
  </div>


  <div class="tab-pane mt-4" id="publish_embed">
    <%= _.template(templates['publish_embed'])({ templates: templates, data: data}) %>
  </div>
</div>
