<div class="border-top pb-2"></div>
<div class="d-flex justify-content-between">
  <div class="w-50 pr-1 <%= data[2].label.length > 20 ? 'line-height-18': '' %>">
    <%= _.template(templates[data[1]['template']])({ data: data[1] }) %>
  </div>
  <div class="w-50">
    <%= _.template(templates[data[2]['template']])({ data: data[2] }) %>
  </div>
</div>

<div class="border-top pb-2 mt-4"></div>
<%= _.template(templates[data[0]['template']])({ data: data[0] }) %>

<div class="border-top pb-2 mt-4"></div>
<div>
  <%= _.template(templates[data[3]['template']])({ data: data[3] }) %>
</div>
