
                    <div class="tab-pane fade" id="g-padding">
                            <div class="color-gray-dark sm2 font-weight-bold">Padding</div>
                            <div class="d-inline-block position-relative">
                              <svg width="300" height="250"></svg>
                              <div class="pos-tc">
                                <label class="mb-1 sm1" title="Height">
                                    top
                                </label>
                                <div class="form-inline pb-3 position-relative w-100">
                                  <input type="number" class="form-control form-control-sm sm2 h-3 w-50"
                                    id="padding.top"
                                    name="padding.top"
                                    type="text"
                                    value="0"
                                    min="0"
                                  >
                                  <label class="mb-1 sm2 position-absolute pos-tr pr-2 pt-025 r-50" title="padding top">
                                    px
                                  </label>
                                </div>
                              </div>
                              <div class="pos-cr">
                                <label class="mb-1 sm1" title="Height">
                                  right
                                </label>
                                <div class="form-inline pb-3 position-relative w-100">
                                  <input type="number" class="form-control form-control-sm sm2 h-3 w-50"
                                    id="padding.right"
                                    name="padding.right"
                                    type="text"
                                    value="0"
                                    min="0"
                                  >
                                  <label class="mb-1 sm2 position-absolute pos-tr pr-2 pt-025 r-50" title="padding right">
                                    px
                                  </label>
                                </div>
                              </div>
                              <div class="pos-bc">
                                <label class="mb-1 sm1" title="Height">
                                    bottom
                                </label>
                                <div class="form-inline pb-3 position-relative w-100">
                                  <input type="number" class="form-control form-control-sm sm2 h-3 w-50"
                                    id="padding.bottom"
                                    name="padding.bottom"
                                    type="text"
                                    value="0"
                                    min="0"
                                  >
                                  <label class="mb-1 sm2 position-absolute pos-tr pr-2 pt-025 r-50" title="padding bottom">
                                    px
                                  </label>
                                </div>
                              </div>
                              <div class="pos-cl">
                                <label class="mb-1 sm1" title="Height">
                                  left
                                </label>
                                <div class="form-inline pb-3 position-relative w-100">
                                  <input type="number" class="form-control form-control-sm sm2 h-3 w-50"
                                    id="padding.left"
                                    name="padding.left"
                                    type="text"
                                    value="0"
                                    min="0"
                                  >
                                  <label class="mb-1 sm2 position-absolute pos-tr pr-2 pt-025 r-50" title="padding left">
                                    px
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="sm2 font-weight-bold"><i class="fa fa-undo pr-1 bottom"></i>Reset to default</div>
                          </div>
