<% property_list.map(function(property, index) { %>
  <div
    class="tab-pane <%= (index === 0) ? 'active show': '' %>"
    id="<%= property.id %>"
    onchange="(function (e, this_element){
      if ($(e.target).attr('data-summary') == 'color_scheme') {
        $('.summary', $('a[href=\'#' + this_element.id + '\']') ).text($(e.target).attr('title'))
      } else {
        $('.summary', $('a[href=\'#' + this_element.id + '\']') ).text(e.target.value)
      }
    })(event, this)"
    >
    <!-- Title  -->
    <div class="text-white sm1 pt-1 font-weight-bold"><%= property.title %></div>
    <!-- Prop Specific Custom Component -->
    <% if (property['detail']) { %>
      <%= _.template(templates[property['template']])({ templates: templates, data: property['detail']}) %>
    <% } %>

  </div>
<% }) %>
