<div class="w-100">
    <div class="h-80vh w-100 bg-light p-4 text-dark mr-2 shadow rounded">
      <div class="mx-0">
        <div>
          Click here ↓ if you want to embed your chart in your website or CMS.
        </div>
        <div class="align-items-center">
          <button class="btn btn-sm btn-primary text-white publish mt-4">Publish Chart</button>
        </div>
        <div class="pt-3 .share-embed">
            <h6>Share & Embed</h6>
            <div class="row mx-3">
              <div class="row">
                <a target="_blank" rel="noopener" class="share-url" href=""></a>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <i class="fa fa-embed"></i>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
