<div class="d-flex flex-row-reverse">
    <div class="width-550 height-370 bg-light position-absolute p-2 zindex-1 text-dark mr-2 shadow rounded">
      <div class="row mx-0">
        <div>
          Click here ↓ if you want to embed your chart in your website or CMS.
        </div>
        <div class="row align-items-center">
          <button class="btn btn-sm btn-primary text-white publish ml-4 pt-2">Publish Chart</button>
        </div>
        <div class="row pt-3 ml-4 .share-embed">
          <div class="col-12">
            <h6>Share & Embed</h6>
            <div class="row">
              <i class="fa fa-share fa-2x mx-3"></i>
              <div class="row">
                <a target="_blank" rel="noopener" class="share-url" href=""></a>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <i class="fa fa-embed"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
