<div>
  <% if (data.label) { %>
    <label class="mb-1 sm2 color-gray-dark" title="<%= data.label %>">
      <%= data.label %>
    </label>
  <% } %>
  <select
    <% for (key in data.attrs) { %>
      <%= key + '="' + data.attrs[key] + '"' %>
    <% } %>
    id="<%= data.id %>"
    class="form-control form-control-sm sm2 h-3 p-0"
  >
    <option value="" disabled selected>-- select --</option>
    <% _.each(data.options, function(item) { %>
      <option>
        <%- item %>
      </option>
    <% }) %>
  </select>
</div>
