<ul class="nav nav-tabs border-0 justify-content-end">
    <li class="nav-item">
        <a href="#data_loader" data-toggle="tab" class="nav-link p-0 border-0 active show">
          <h6 class="mr-3 arrow-info arrow-primary pl-2">Connect Data</h6>
        </a>
    </li>
    <li class="nav-item">
        <a href="#data_mapper" data-toggle="tab" class="nav-link p-0 border-0">
          <h6 class="mr-3 arrow-light arrow-tail">Data Mapper</h6>
        </a>
    </li>
    <li class="nav-item">
        <a href="#customize_chart" data-toggle="tab" class="nav-link p-0 border-0">
          <h6 class="mr-3 arrow-light arrow-tail">Customize</h6>
        </a>
    </li>
    <li class="nav-item">
        <a href="#publish_embed" data-toggle="tab" class="nav-link p-0 border-0">
          <h6 class="mr-0 arrow-light arrow-tail">Embed</h6>
        </a>
    </li>
  </ul>
