<ul class="nav nav-tabs border-0 justify-content-end">
    <li class="nav-item pr-2">
        <a href="#data_loader" data-toggle="tab" class="horizontal-tab active show">
          <h6 class="mr-3 arrow-info arrow-primary">Connect Data</h6>
        </a>
    </li>
    <li class="nav-item pr-2">
        <a href="#data_mapper" data-toggle="tab" class="horizontal-tab">
          <h6 class="mr-4 arrow-light arrow-tail">Data Mapper</h6>
        </a>
    </li>
    <li class="nav-item pr-2">
        <a href="#customize_chart" data-toggle="tab" class="horizontal-tab">
          <h6 class="mr-4 arrow-light arrow-tail">Customize</h6>
        </a>
    </li>
    <li class="nav-item pr-2">
        <a href="#publish_embed" data-toggle="tab" class="horizontal-tab">
          <h6 class="mr-4 arrow-light arrow-tail">Embed</h6>
        </a>
    </li>
  </ul>
