<!DOCTYPE html>
<html lang="en" class="$classes">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$title</title>
  <link rel="stylesheet" href="/$GUIDE_ROOT/style.css">
</head>
<body class="container">

  <nav class="menu">
    <h1><a href="/$GUIDE_ROOT/">Gramex Guide</a></h1>
    <ul>
      <li><a href="/$GUIDE_ROOT/install/">Install Gramex</a></li>
      <li><a href="/$GUIDE_ROOT/server/">Web server</a></li>
      <li><a href="/$GUIDE_ROOT/config/">Configurations</a></li>
      <li><a href="/$GUIDE_ROOT/functionhandler/">Run functions</a></li>
      <li><a href="/$GUIDE_ROOT/filehandler/">Render files</a></li>
      <li><a href="/$GUIDE_ROOT/datahandler/">Connect to data</a></li>
      <li><a href="/$GUIDE_ROOT/jsonhandler/">Save data</a></li>
      <li><a href="/$GUIDE_ROOT/processhandler/">Run processes</a></li>
      <li><a href="/$GUIDE_ROOT/auth/">Authentication</a></li>
      <li><a href="/$GUIDE_ROOT/cache/">Cache requests</a></li>
      <li><a href="/$GUIDE_ROOT/chart/">Charts</a></li>
      <li><a href="/$GUIDE_ROOT/scheduler/">Schedule tasks</a></li>
      <li><a href="/$GUIDE_ROOT/watch/">Watch files</a></li>
      <li><a href="/$GUIDE_ROOT/deploy/">Deployment patterns</a></li>
    </ul>
  </nav>

  <section class="content">
    <h1>$title</h1>

    $body
  <section>

</body>
</html>
