<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>UI Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.write('<link rel="stylesheet" href="bootstrap-theme' + location.search + '">')</script>
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../node_modules/noty/lib/noty.css">
  <link rel="stylesheet" href="../node_modules/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="../node_modules/prismjs/themes/prism-okaidia.css">
  <style>
  .component-list > section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href=".">UI Components</a>
    <form class="form-inline">
      <button class="btn btn-sm btn-light" type="button" data-toggle="collapse" data-target="#theme-picker" aria-expanded="false" aria-controls="theme-picker">
        Change theme
      </button>
    </form>
  </nav>
  <div id="theme-picker" class="theme bg-dark text-light collapse">
    <form class="container-fluid pt-4 pb-4">
      <div class="theme-contents d-flex align-self-start">
        <div class="column mr-4 theme-colors">
          <div v-for="(info, name) in color">
            <input v-bind:id="name" v-bind:name="name" type="color" v-bind:value="info.value">
            <label for="primary">{{ info.title }}</label>
          </div>
        </div><!-- .theme-colors -->
        <div class="column mr-4 theme-toggles">
          <div v-for="(info, name) in toggle">
            <label>
              <input v-bind:name="name" type="checkbox" v-model="info.value">
              {{ info.title }}
            </label>
          </div>
        </div><!-- .theme-toggles -->
        <div class="column mr-4 theme-selects">
          <div v-for="(info, name) in font" class="mb-4">
            <label v-bind:for="name">{{ info.title }}</label>
            <select class="form-control form-control-sm" v-bind:name="name" v-model="info.value">
              <option v-for="(fontinfo, fontname) in info.options" v-bind:value="fontname">
                {{ fontinfo.title }}
              </option>
            </select>
          </div>
        </div><!-- .theme-selects -->
        <div class="column mr-4 theme-predefined">
        </div><!-- .theme-predefined -->
      </div><!-- .theme-contents -->
      <button type="submit" class="btn btn-primary">Apply theme</button>
    </form>
  </div><!-- #theme-picker -->

  <div class="d-flex mt-3 pl-3">
    <div class="toc">
      <a class="btn btn-sm btn-dark" target="_blank" href="bootstrap-theme" + location.search>Download CSS</a>
    </div>
    <div class="container-fluid component-list">
      <input type="search" class="form-control" placeholder="Type component to filter" id="search-components">
      <section data-ui="ui-about.html"></section>
      <section data-ui="ui-alerts.html"></section>
      <section data-ui="ui-buttons.html"></section>
      <section data-ui="ui-breadcrumbs.html"></section>
      <section data-ui="ui-button-groups.html"></section>
      <section data-ui="ui-dropdown-filters.html"></section>
      <section data-ui="ui-date-picker.html"></section>
      <section data-ui="ui-input-groups.html"></section>
      <section data-ui="ui-loading-icons.html"></section>
      <section data-ui="ui-panels.html"></section>
      <section data-ui="ui-pagination.html"></section>
      <section data-ui="ui-slider.html"></section>
      <section data-ui="ui-search-bar.html"></section>
      <section data-ui="ui-tables.html"></section>
      <section data-ui="ui-tooltips.html"></section>
    </div><!-- .container-fluid -->
  </div><!-- .d-flex -->

  <!-- Modal -->
  <div class="modal fade" id="source-modal" tabindex="-1" role="dialog" aria-labelledby="source-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="source-modal-label">Component source code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre><code class="language-html source-content"></code></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../node_modules/noty/lib/noty.min.js"></script>
  <script src="../node_modules/moment/min/moment-with-locales.min.js"></script>
  <script src="../node_modules/daterangepicker/daterangepicker.js"></script>
  <script src="../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="../node_modules/url-search-params/build/url-search-params.js"></script>
  <script src="../node_modules/prismjs/prism.js"></script>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="../node_modules/lodash/lodash.min.js"></script>
  <script>
    var q = _.fromPairs(Array.from((new URLSearchParams(location.search)).entries()))
    var has_query = Object.keys(q).length > 0
    $.getJSON('config', function(config) {
      // Set values based on inputs
      _.each(config.color, function(info, name) { info.value = q[name] || info.default })
      _.each(config.font, function(info, name) { info.value = q[name] || info.default })
      _.each(config.toggle, function(info, name) { info.value = has_query ? (q[name] || '') : info.default })
      var app = new Vue({el: '#theme-picker', data: config})
    })

    // Table of contents
    var $toc = $('.toc')
    $('[data-ui]').each(function() {
      var $toc_entry = $('<div><a></a></div>').appendTo($toc).find('a')
      var $this = $(this)
      $this
        .load($this.data('ui'), function() {
          var heading = $this.find('h2').text()
          var id = heading
            .toLowerCase()
            .replace(/[^a-z0-9_]+/g, '-')   // Replace non-alpha with -
            .replace(/^\-+/, '')            // Remove leading -
            .replace(/\-+$/, '')            // Remove trailing -
          $this.attr('id', id)
          $toc_entry.text(heading).attr('href', '#' + id)
          $this.find('h2').append('<button class="btn btn-sm btn-light pull-right src">Source</button>')
        })
    })
    // Event handlers
    $('body').on('input', '#search-components', function() {
      var $user_val = $(this).val()
      $('section').hide()
      $('section').filter(function(ind, item) {
        return $(item).find('h2').text().toLowerCase().indexOf($user_val) > -1
      }).show()
    })
    .on('click', '.src', function() {
      var html = Prism.highlight($(this).parents().closest('section').html(), Prism.languages.html)
      $('.source-content').html(html)
      $('#source-modal').modal()
    })
  </script>
</body>
</html>
