# See http://doc.gitlab.com/ce/ci/yaml/README.html

validate:
  image: gramener/builderrors
  script: builderrors

# Deploy application to a server
# deploy:
#   stage: deploy
#   script: deploy
#   only: [master]                          # Only deploy on master branch commit
#   variables:
#     SERVER: ubuntu@uat.gramener.com       # Deploy to uat.gramener.com/app-name/
#     URL: app-name                         # Change this to your app-name
#     SETUP: npm install                    # You can use any setup script here
#     VERSION: py3v1                        # py3v1 or static
