<!DOCTYPE html>
<html lang="en" class="$classes">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$title</title>
  <link rel="stylesheet" href="/$GUIDE_ROOT/style.css">
</head>
<body class="container">

  <nav class="menu">
    <h1><a href="/$GUIDE_ROOT/">Gramex Guide</a></h1>
    <ul>
      <li><a href="/$GUIDE_ROOT/search/">Index of topics</a></li>
      <li><a href="/$GUIDE_ROOT/about/">About Gramex</a></li>
      <li><a href="/$GUIDE_ROOT/install/">Install Gramex</a></li>
      <li><a href="/$GUIDE_ROOT/init/">Gramex init</a></li>
      <li><a href="/$GUIDE_ROOT/server/">Web server</a></li>
      <li><a href="/$GUIDE_ROOT/config/">Configurations</a></li>
      <li><a href="/$GUIDE_ROOT/functionhandler/">FunctionHandler</a></li>
      <li><a href="/$GUIDE_ROOT/filehandler/">FileHandler</a></li>
      <li><a href="/$GUIDE_ROOT/formhandler/">FormHandler</a></li>
      <li><a href="/$GUIDE_ROOT/jsonhandler/">JSONHandler</a></li>
      <li><a href="/$GUIDE_ROOT/capturehandler/">CaptureHandler</a></li>
      <li><a href="/$GUIDE_ROOT/pptxhandler/">PPTXHandler</a></li>
      <li><a href="/$GUIDE_ROOT/auth/">Auth handlers</a></li>
      <li><a href="/$GUIDE_ROOT/proxyhandler/">ProxyHandler</a></li>
      <li><a href="/$GUIDE_ROOT/uploadhandler/">UploadHandler</a></li>
      <li><a href="/$GUIDE_ROOT/processhandler/">ProcessHandler</a></li>
      <li><a href="/$GUIDE_ROOT/websockethandler/">WebSocketHandler</a></li>
      <li><a href="/$GUIDE_ROOT/twitterresthandler/">TwitterRESTHandler</a></li>
      <li><a href="/$GUIDE_ROOT/facebookgraphhandler/">FacebookGraphHandler</a></li>
      <li><a href="/$GUIDE_ROOT/uicomponents/">UI Components</a></li>
      <li><a href="/$GUIDE_ROOT/chart/">Charts</a></li>
      <li><a href="/$GUIDE_ROOT/cache/">Cache requests</a></li>
      <li><a href="/$GUIDE_ROOT/email/">Send email</a></li>
      <li><a href="/$GUIDE_ROOT/alert/">Smart alerts</a></li>
      <li><a href="/$GUIDE_ROOT/scheduler/">Schedule tasks</a></li>
      <li><a href="/$GUIDE_ROOT/watch/">Watch files</a></li>
      <li><a href="/$GUIDE_ROOT/apps/">Run apps</a></li>
      <li><a href="/$GUIDE_ROOT/admin/">Admin page</a></li>
      <li><a href="/$GUIDE_ROOT/logviewer/">View logs</a></li>
      <li><a href="/$GUIDE_ROOT/handlers/">Write handlers</a></li>
      <li><a href="/$GUIDE_ROOT/debug/">Debugging Gramex</a></li>

      <li><a href="/$GUIDE_ROOT/tips/">Tips</a></li>
      <li><a href="/$GUIDE_ROOT/deploy/">Deployment patterns</a></li>
      <li><a href="/$GUIDE_ROOT/exercises/">Exercises</a></li>
      <li><a href="/$GUIDE_ROOT/contributing/">Contributing</a></li>

      <li><a href="/$GUIDE_ROOT/release/">Release notes</a></li>
      <li><a target="_blank" href="https://learn.gramener.com/gramex/gramex.html">Python Reference</a></li>
      <li><a href="/$GUIDE_ROOT/tutorials/">Tutorials</a></li>
    </ul>
  </nav>

  <script src="/$GUIDE_ROOT/ui/jquery/dist/jquery.min.js"></script>
  <section class="content">
    <h1>$title</h1>

    $body
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
  <script src="/$GUIDE_ROOT/script.js"></script>
</body>
</html>
