h1, h2, h3 { font-family: Roboto, "Segoe UI", sans-serif; }
body { font-family: Cambria, Georgia, serif; }

/* Standard heading heirarchy */
h1 { color: #5b9bd5; }
h2 { color: #ed7d31; }
h3 { color: #5c5c5c; }

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
    color: #444;
}

/* Style code example blocks */
pre, code {
    font-family: Consolas, monospace;
}

/* IFrames are typically used as examples. They take up full width */
pre, iframe {
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 -1rem;
    overflow: auto;
}

code {
    color: #000;
    background-color: #eee;
    padding: 0 0.4rem;
}

pre code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

iframe {
    height: 10rem;
    background-color: #eee;
    width: 50em;
}

/* Provide enough space on top of all headings */
h1 { margin-top: 3rem; }

/* Form styling */
button, input, select, textarea {
  font-family: Roboto, "Segoe UI", sans-serif;
  font-size: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Lay out the page */

.container {
    display: flex;
}
.menu {
    min-height: 100vh;
}
.content {
    padding: 0 2rem 2rem 2rem;
    max-width: 40em;
}

/* Style the menu */
@media screen {
  .menu {
      background-color: #44546a;
      color: #fff;
  }
  .menu a:hover, .menu a:active, .menu a:focus {
    background-color: #28323F;
  }
  .menu a:visited {
      color: #DFE1E3;
  }
}
.menu h1 {
    padding: 0;
    color: inherit;
}
.menu h1 a {
    padding: 0 1rem;
}
.menu a {
    color: inherit;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}
.menu ul {
    margin: 0;
    padding: 0;
    border-bottom: 2px ridge #4F627D;
}
.menu li {
    list-style: none;
}
.menu li a {
    padding: 0.25rem 1rem;
    border-top: 2px ridge #4F627D;
    border-bottom: none;
}
.menu a:hover, .menu a:active, .menu a:focus {
    outline: none;
    transform: translate(1px, 1px);
    transition: all 0.2s;
}

/* Style links */

.content a {
    text-decoration: none;
    color: #0563c1;
    white-space: nowrap;
}

.content a:visited {
    color: #c70064;
}

.content a:hover {
    color: #ed7d31;
}

/* Example apps */
.example {
  font-family: Roboto, "Segoe UI", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  margin: 1rem -1rem;

  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(237, 125, 55, 0.3);
  box-shadow: 1px 1px 1px black;
}
.example a {
  border: none;
}
.example:before {
  content: "\25cd";
  font-size: 4rem;
  line-height: 0;
  position: relative;
  top: 01rem;
}
.example-src {
  float: right;
}


/* Clipboard copy button */
.codehilite {
  position: relative;
  width: 50em;
}
.codehilite .copy-button {
  position: absolute;
  right: 0;
  top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 6px 2px 6px;
  font-size: 0.8rem;
}
.codehilite .copy-button:hover {
  background-color: #fff;
  color: #000;
}

/* Based on https://github.com/richleland/pygments-css/blob/master/monokai.css */
.codehilite pre { background-color: #000; }
.codehilite .hll { background-color: #49483e }
.codehilite .c { color: #fff2b2 } /* Comment */
.codehilite .err { color: #960050; background-color: #1e0010 } /* Error */
.codehilite .k { color: #66d9ef } /* Keyword */
.codehilite .l { color: #d9d5e1 } /* Literal */
.codehilite .n { color: #f8f8f2 } /* Name */
.codehilite .o { color: #f92672 } /* Operator */
.codehilite .p { color: #f8f8f2 } /* Punctuation */
.codehilite .cm { color: #fff2b2 } /* Comment.Multiline */
.codehilite .cp { color: #fff2b2 } /* Comment.Preproc */
.codehilite .c1 { color: #fff2b2 } /* Comment.Single */
.codehilite .cs { color: #fff2b2 } /* Comment.Special */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .kc { color: #66d9ef } /* Keyword.Constant */
.codehilite .kd { color: #66d9ef } /* Keyword.Declaration */
.codehilite .kn { color: #f92672 } /* Keyword.Namespace */
.codehilite .kp { color: #66d9ef } /* Keyword.Pseudo */
.codehilite .kr { color: #66d9ef } /* Keyword.Reserved */
.codehilite .kt { color: #66d9ef } /* Keyword.Type */
.codehilite .ld { color: #e6db74 } /* Literal.Date */
.codehilite .m { color: #d9d5e1 } /* Literal.Number */
.codehilite .s { color: #e6db74 } /* Literal.String */
.codehilite .na { color: #a6e22e } /* Name.Attribute */
.codehilite .nb { color: #f8f8f2 } /* Name.Builtin */
.codehilite .nc { color: #a6e22e } /* Name.Class */
.codehilite .no { color: #66d9ef } /* Name.Constant */
.codehilite .nd { color: #a6e22e } /* Name.Decorator */
.codehilite .ni { color: #f8f8f2 } /* Name.Entity */
.codehilite .ne { color: #a6e22e } /* Name.Exception */
.codehilite .nf { color: #a6e22e } /* Name.Function */
.codehilite .nl { color: #f8f8f2 } /* Name.Label */
.codehilite .nn { color: #f8f8f2 } /* Name.Namespace */
.codehilite .nx { color: #a6e22e } /* Name.Other */
.codehilite .py { color: #f8f8f2 } /* Name.Property */
.codehilite .nt { color: #f92672 } /* Name.Tag */
.codehilite .nv { color: #f8f8f2 } /* Name.Variable */
.codehilite .ow { color: #f92672 } /* Operator.Word */
.codehilite .w { color: #f8f8f2 } /* Text.Whitespace */
.codehilite .mf { color: #d9d5e1 } /* Literal.Number.Float */
.codehilite .mh { color: #d9d5e1 } /* Literal.Number.Hex */
.codehilite .mi { color: #d9d5e1 } /* Literal.Number.Integer */
.codehilite .mo { color: #d9d5e1 } /* Literal.Number.Oct */
.codehilite .sb { color: #e6db74 } /* Literal.String.Backtick */
.codehilite .sc { color: #e6db74 } /* Literal.String.Char */
.codehilite .sd { color: #e6db74 } /* Literal.String.Doc */
.codehilite .s2 { color: #e6db74 } /* Literal.String.Double */
.codehilite .se { color: #d9d5e1 } /* Literal.String.Escape */
.codehilite .sh { color: #e6db74 } /* Literal.String.Heredoc */
.codehilite .si { color: #e6db74 } /* Literal.String.Interpol */
.codehilite .sx { color: #e6db74 } /* Literal.String.Other */
.codehilite .sr { color: #e6db74 } /* Literal.String.Regex */
.codehilite .s1 { color: #e6db74 } /* Literal.String.Single */
.codehilite .ss { color: #e6db74 } /* Literal.String.Symbol */
.codehilite .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #f8f8f2 } /* Name.Variable.Class */
.codehilite .vg { color: #f8f8f2 } /* Name.Variable.Global */
.codehilite .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.codehilite .il { color: #d9d5e1 } /* Literal.Number.Integer.Long */

.codehilite .gh { } /* Generic Heading & Diff Header */
.codehilite .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.codehilite .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.codehilite .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
