<div class="actions float-right d-none">
  <div class="btn-group" role="group" aria-label="Field actions">
    <button type="button" data-action="move" class="btn btn-muted" title="Reorder field by dragging above or below">
      <img alt="reorder field" src="<%= base %>/assets/img/arrows-move.svg">
    </button>
    <button type="button" data-action="duplicate" class="btn btn-muted" title="Duplicate field">
      <img alt="duplicate field" src="<%= base %>/assets/img/clipboard.svg">
    </button>
    <button type="button" data-action="delete" class="btn btn-muted" title="Delete field">
      <img alt="delete field" src="<%= base %>/assets/img/trash.svg">
    </button>
  </div>
</div>
