<% options.split(',').forEach(function (option, ind) { %>
  <div class="form-check py-2 px-0">
    <input type="radio" class="px-2" name="<%= name %>" id="<%= option %>" value="<%= option %>" <%= (typeof checked != undefined) ? "checked" : "" %>>
    <label data-type="radio" class="px-2" for="<%= option %>">
      <%= option %>
    </label>
    <% if (typeof label != 'undefined' && ind === options.split(',').length - 1) { %>
      <small id="text-input-help" class="form-text text-muted"><%= label %></small>
    <% } %>
  </div>
<% }) %>
