<% options.split(',').forEach(function (option, ind) { %>
  <div class="form-check py-2 px-0">
    <input type="checkbox" class="px-2" name="<%= name %>" id="<%= ind + '-' + option.trim() %>" value="<%= option.trim() %>" <%= value === 'yes' ? "checked" : "" %> >
    <label data-type="checkbox" class="px-2" for="<%= ind + '-' + option.trim() %>">
      <%= option.trim() %>
    </label>
    <% if (typeof label != 'undefined' && ind === options.split(',').length - 1) { %>
      <small id="text-input-help" class="form-text text-muted"><%= label %></small>
    <% } %>
  </div>
<% }) %>
