<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Gramex UI Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.write('<link rel="stylesheet" href="../ui/bootstraptheme.css' + location.search + '">')</script>
  <link rel="stylesheet" href="../ui/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../ui/noty/lib/noty.css">
  <link rel="stylesheet" href="../ui/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="../ui/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="../ui/tether-shepherd/dist/css/shepherd-theme-arrows.css">
  <link rel="stylesheet" href="../ui/tether-shepherd/dist/css/shepherd-theme-dark.css">
  <link rel="stylesheet" href="../ui/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../node_modules/prismjs/themes/prism-okaidia.css">
  <link rel="stylesheet" href="style.css?v=3.19">
  <script src="../ui/jquery/dist/jquery.min.js"></script>
  <script src="../ui/tether-shepherd/dist/js/tether.js"></script>
  <script src="../ui/tether-shepherd/dist/js/shepherd.min.js"></script>
</head>
<body class="show-source" data-spy="scroll" data-target="#toc-nav" data-offset="80">
  <nav class="navbar navbar-dark bg-dark position-fixed w-100 top-nav">
    <h1 class="h5 m-0 text-light" href=".">Gramex UI Components</h1>
    <form class="form-inline">
      <button class="btn btn-sm btn-light ml-2 toggle-source" type="button">Toggle source</button>
      <button class="btn btn-sm btn-light ml-2" type="button" data-toggle="collapse" data-target="#theme-picker" aria-expanded="false" aria-controls="theme-picker">Change theme</button>
    </form>
    <div id="theme-picker" class="theme bg-dark text-light collapse">
      <!-- htmllint label-req-for="false" -->
      <form class="container-fluid pt-4 pb-4">
        <div class="theme-contents d-flex align-self-start">
          <div class="column mr-4 theme-colors">
            <div v-for="(info, name) in color">
              <input v-bind:id="name" v-bind:name="name" type="color" v-bind:value="info.value">
              <label v-bind:for="name">${ info.title }</label>
            </div>
          </div><!-- .theme-colors -->
          <div class="column mr-4 theme-toggles">
            <div v-for="(info, name) in toggle">
              <label>
                <input v-bind:name="name" type="checkbox" v-model="info.value"> ${ info.title }
              </label>
            </div>
          </div><!-- .theme-toggles -->
          <div class="column mr-4 theme-selects">
            <div v-for="(info, name) in font" class="mb-4">
              <label v-bind:for="name">${ info.title }</label>
              <select class="form-control form-control-sm" v-bind:name="name" v-model="info.value">
                <option v-for="(fontinfo, fontname) in info.options" v-bind:value="fontname">
                  ${ fontinfo }
                </option>
              </select>
            </div>
          </div><!-- .theme-selects -->
          <div class="column mr-4 theme-predefined">
            <p>Pre-defined themes</p>
            <div v-for="(info, name) in theme">
              <a v-bind:href="info.href" class="text-light">${ name }</a>
            </div>
          </div><!-- .theme-predefined -->
        </div><!-- .theme-contents -->
        <p>
          <button type="submit" class="btn btn-primary">Apply theme</button>
          <a v-bind:href="cssurl" class="btn btn-light">Link to CSS</a>
        </p>
      </form>
      <!-- htmllint label-req-for="true" -->
    </div><!-- #theme-picker -->
  </nav>
  <div class="pt-2">&nbsp;</div>
  <div class="container-fluid component d-flex">
    <nav class="mt-3 nav" id="toc-nav">
      <a v-for="entry in toc"
        class="nav-link"
        v-bind:data-level="entry.level"
        v-bind:href="entry.href">${ entry.name }</a>
    </nav>
    <main role="main" class="ml-3">
      <h1 class="toc">Introduction</h1>
      <p>The Gramex UI component library is a set of UI components that extend
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>.
        These are to be used in all Gramex projects.
      </p>
      {% from guide_ui_app import load_page %}
      {% raw load_page('ui-about.html') %}
      {% raw load_page('ui-libraries.html') %}

      <h1 class="toc">Utilities</h1>
      {% raw load_page('ui-hover.html') %}
      {% raw load_page('ui-cursor.html') %}
      {% raw load_page('ui-round.html') %}
      {% raw load_page('ui-ripple.html') %}
      {% raw load_page('ui-shadow.html') %}
      {% raw load_page('ui-text.html') %}
      {% raw load_page('ui-tours.html') %}
      {% raw load_page('ui-underline.html') %}

      <h1 class="toc">Backgrounds</h1>
      {% raw load_page('ui-background.html') %}
      {% raw load_page('ui-gradient.html') %}

      <h1 class="toc">Positioning</h1>
      {% raw load_page('ui-overlay.html') %}
      {% raw load_page('ui-position.html') %}

      <h1 class="toc">Components</h1>
      {% raw load_page('ui-arrow.html') %}
      {% raw load_page('ui-divider.html') %}
      {% raw load_page('ui-tail.html') %}

      <h1 class="toc">Inputs</h1>
      {% raw load_page('ui-select.html') %}
      {% raw load_page('ui-slider.html') %}
      {% raw load_page('ui-switch.html') %}
      {% raw load_page('ui-upload.html') %}

      <h1 class="toc">Bootstrap</h1>
      {% raw load_page('ui-alert.html') %}
      {% raw load_page('ui-button.html') %}
      {% raw load_page('ui-card.html') %}
      {% raw load_page('ui-dashboards.html') %}
      {% raw load_page('ui-date-picker.html') %}
      {% raw load_page('ui-dropdown.html') %}
      {% raw load_page('ui-forms.html') %}
      {% raw load_page('ui-grid.html') %}
      {% raw load_page('ui-input.html') %}
      {% raw load_page('ui-loading.html') %}
      {% raw load_page('ui-login.html') %}
      {% raw load_page('ui-modal.html') %}
      {% raw load_page('ui-panel.html') %}
      {% raw load_page('ui-table.html') %}
      {% raw load_page('ui-tooltip.html') %}
    </main>
  </div><!-- .container-fluid -->

  <!-- Modal -->
  <div class="modal fade" id="source-modal" tabindex="-1" role="dialog" aria-labelledby="source-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="source-modal-label">Component source code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre><code class="language-html source-content"></code></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../ui/popper.js/dist/umd/popper.min.js"></script>
  <script src="../ui/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../ui/noty/lib/noty.min.js"></script>
  <script src="../ui/moment/min/moment-with-locales.min.js"></script>
  <script src="../ui/daterangepicker/daterangepicker.js"></script>
  <script src="../ui/url-search-params/build/url-search-params.js"></script>
  <script src="../ui/lodash/lodash.min.js"></script>
  <script src="../ui/select2/dist/js/select2.min.js"></script>
  <script src="../ui/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="../node_modules/clipboard/dist/clipboard.min.js"></script>
  <script src="../node_modules/prismjs/prism.js"></script>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script>
    var q = {},
        _q = (new URLSearchParams(location.search)).entries()
    while (true) {
      var _entry = _q.next()
      if (_entry.done) break
      q[_entry.value[0]] = _entry.value[1]
    }
    var has_query = Object.keys(q).length > 0
    $.getJSON('config', function(config) {
      // Set values based on inputs
      _.each(config.color, function(info, name) { info.value = q[name] || info.default })
      _.each(config.font, function(info, name) { info.value = q[name] || info.default })
      _.each(config.toggle, function(info, name) { info.value = has_query ? (q[name] || '') : info.default })
      _.each(config.theme, function(info, name) { info.href = '?' + $.param(info) })
      config.cssurl = '../ui/bootstraptheme.css' + location.search
      var app = new Vue({el: '#theme-picker', data: config, delimiters: ['${', '}']})
      $('[data-spy="scroll"]').scrollspy('refresh')
    })

    // Toggle view source
    $('body').on('click', '.toggle-source', function() {
      $('body').toggleClass('show-source')
    })

    // copy code block
    var clipboard = new Clipboard('.copy-button', {
      text: function() {
        return document.querySelector('.upload-container').innerHTML
      }
    })
    clipboard.on('success', function(e) {
      new Noty({type: 'success', text: "Copied!"}).show()
    })
    var toctree = $('.toc').map(function() {
      var text = $(this).text()
      var slug = text.trim().toLowerCase().replace(/[^a-z0-9_]+/gi, '-')
      $(this).attr('id', slug)
      return {level: 'l' + this.tagName[1], name: text, href: '#' + slug}
    })
    var toc = new Vue({el: '#toc-nav', data: {toc: toctree}, delimiters: ['${', '}']})
  </script>
  <script>
    /* Prism copy to clipboard for all pre with viewsource class */
    // ref: https://stackoverflow.com/a/34198183
    $('pre.viewsource').each(function () {
      $this = $(this);
      $button = $('<button class="btn-sm" type="button">Copy</button>');
      $this.wrap('<div/>').removeClass('viewsource');
      $wrapper = $this.parent();
      $wrapper.addClass('viewsource-wrapper').css({position: 'relative'})
      $button.css({position: 'absolute', top: 10, right: 10}).appendTo($wrapper).addClass('viewsource btn btn-default');
      var copyCode = new Clipboard('button.viewsource', {
        target: function (trigger) {
          return trigger.previousElementSibling;
        }
      });
      copyCode.on('success', function (event) {
        event.clearSelection();
        event.trigger.textContent = 'Copied';
        window.setTimeout(function () {
          event.trigger.textContent = 'Copy';
        }, 2000);
      });
      copyCode.on('error', function (event) {
        event.trigger.textContent = 'Press "Ctrl + C" to copy';
        window.setTimeout(function () {
          event.trigger.textContent = 'Copy';
        }, 2000);
      });
    });
  </script>
</body>
</html>
