#search {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-shadow: 3px 1px 2px #ddd;
}
#searchresults {
  line-height: 2;
}
#index {
  display: block;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  columns: 3;
}
#index a {
  display: block;
  border-bottom: 1px solid transparent;
}
#index a:hover {
  background-color: #eef5ff;
  border-bottom: 1px solid #44546a;
}
