// URL arguments are available as variables
{% for key, val in variables.items() %}
  ${{ key }}: {% raw val %};
{% end %}
$color: black !default;
.color_arg {
  color: $color;
}

//
.google_font {
  after: "{{ google_fonts }}";
}

// Bootstrap is available for import
@import "bootstrap";
