<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chartogram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="ui/bootstraptheme.css?primary=%23314ccd&secondary=%23FC9403&success=%231ec68e&info=%2317a2b8&warning=%23ffd334&danger=%23dc3545&light=%23eff9ef&dark=%23464646&body-bg=%23ffffff&body-color=%23103036&color1=%234d5358&enable-rounded=on&enable-shadows=on&enable-gradients=on&enable-transitions=on&enable-print-styles=on&font-family-base=helvetica&headings-font-family=roboto"
    />
    <link rel="stylesheet" href="ui/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/gallery.css" />
  </head>

  <body>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-light bg-light d-flex"
    >
      <a class="ml-4 navbar-brand" href="chartogram"
        ><img src="assets/logo.png" alt="Chartogram" height="40"
      /></a>
    </nav>
    <div class="gallery container-fluid mx-0 px-0">
      <div class="row mx-0">
        <div class="col-0 col-md-2 left-nav">
          <div class="list-group h-100 overflow-auto" id="chartsList">
            <script type="text/html">
              <% order.forEach(function(category) { %>
                <a class="list-group-item list-group-item-action" href="#<%- category.replace(/ /g,'_') %>" >
                  <%- category %>
                </a>
              <% }) %>
            </script>
          </div>
        </div>
        <div class="col-12 col-md-10">
          <script type="text/html">
            <% order.forEach(function(category) { %>
              <div class="mb-4 pt-1" id="<%- category.replace(/ /g,'_') %>">
                <h6 class="pb-2" id="<%- category.replace(/ /g,'_') %>"><%- category %></h6>
                <% data[category].forEach(function(item) { %>
                  <div class="d-inline-flex p-1">
                    <div class="position-relative">
                      <a href="chart?chart=<%- item.chart %>" class="">
                        <img class="shadow" src="assets/images/<%- item.chart %>.png" title="<%- item.title %>" alt="<%- item.title %>" width="200">
                        <% if(item.data_mapper) { %>
                        <span class="fa fa-pencil sm1 position-absolute p-1 pos-tr" aria-hidden="true"></span>
                        <% } %>
                      </a>
                    </div>
                  </div>
                <% }) %>
              </div>
            <% }) %>
          </script>
        </div>
      </div>
    </div>
    <footer class="border-top mt-5 pt-3">
      <div class="container pull-right">
        <small>
          This page is synchronized with the
          <a
            href="https://gramener.invisionapp.com/d/main#/projects/prototypes/7709561"
            >Visualization Charts Library</a
          >
          on Invision (for those with access.)
        </small>
      </div>
    </footer>
  </body>
  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <!-- Begin Inspectlet Asynchronous Code -->
  <script type="text/javascript">
    /* globals __insp */
    (function() {
      window.__insp = window.__insp || []
      __insp.push(["wid", 1032878274])
      var ldinsp = function() {
        if (typeof window.__inspld != "undefined") return
        window.__inspld = 1
        var insp = document.createElement("script")
        insp.type = "text/javascript"
        insp.async = true
        insp.id = "inspsync"
        insp.src =
          ("https:" == document.location.protocol ? "https" : "http") +
          "://cdn.inspectlet.com/inspectlet.js?wid=1032878274&r=" +
          Math.floor(new Date().getTime() / 3600000)
        var x = document.getElementsByTagName("script")[0]
        x.parentNode.insertBefore(insp, x)
      }
      setTimeout(ldinsp, 0)
    })()
  </script>
  <!-- End Inspectlet Asynchronous Code -->
  <script>
    $.getJSON("examples.json")
      .done(function(data) {
        render({ data: data })
      })
      .fail(function(xhr, status, message) {
        $("div.gallery").html("Failed: " + message)
      })

    function render(options) {
      var data = _.groupBy(options.data, "category")
      var order = options.order || _.keys(data)
      $('script[type="text/html"]')
        .on("template", function() {
          $("a.list-group-item").click(function(event) {
            event.preventDefault()
            $("html, body").animate(
              {
                scrollTop:
                  $($(this).attr("href")).offset().top -
                  $(".navbar").outerHeight()
              },
              500
            )
          })
        })
        .template({ data: data, order: order })
    }
  </script>
</html>
